<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
  <div class="container-fluid">
    <a routerLink="/" (click)="scrollToTop()" class="navbar-brand wow fadeInRight white-text font-weight-bold active nav-item">ELKIN JIMÉNEZ</a>
    <button class="navbar-toggler wow fadeInRight" data-wow-delay="0.3s" type="button" data-toggle="collapse"
      data-target="#miNav" aria-controls="miNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="miNav">
      <ul class="navbar-nav mr-auto"></ul>
      <ul class="navbar-nav text-center">
        <li class="nav-item my-auto wow fadeInLeft">
          <a routerLink="/aboutme" (click)="scrollToTop()" class="nav-link">
            <h6 class="my-0 h6-responsive mx-3 font-weight-bold">
              SOBRE MI
            </h6>
          </a>
        </li>
        <li class="nav-item my-auto wow fadeInLeft" data-wow-delay="0.3s">
          <a routerLink="/portfolio" (click)="scrollToTop()" class="nav-link">
            <h6 class="my-0 h6-responsive mx-3 font-weight-bold">
              PORTAFOLIO
            </h6>
          </a>
        </li>
        <li class="nav-item my-auto wow fadeInLeft" data-wow-delay="0.6s">
          <a routerLink="/studies" (click)="scrollToTop()" class="nav-link">
            <h6 class="my-0 h6-responsive mx-3 font-weight-bold">
              ESTUDIOS
            </h6>
          </a>
        </li>
        <li class="nav-item my-auto wow fadeInLeft" data-wow-delay="0.9s">
          <a routerLink="/contactme" (click)="scrollToTop()" class="nav-link">
            <h6 class="my-0 h6-responsive mx-3 font-weight-bold">
              CONTÁCTAME
            </h6>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>