<footer class="page-footer text-center">
  <div class="container-fluid py-4">
    <div class="row wow fadeInDown" data-wow-delay="0.6s">
      <div class="col-md-4 mt-3">
        <h6 class="h6-responsive">Mis redes sociales</h6>
        <a class="m-2" href="https://www.facebook.com/elkinjmenez" target="_blank"><i
            class="fab fa-facebook fa-lg"></i></a>
        <a class="m-2" href="https://instagram.com/elkin.jiga" target="_blank"><i
            class="fab fa-instagram fa-lg"></i></a>
        <a class="m-2" href="https://github.com/elkinjimenez" target="_blank"><i class="fab fa-github fa-lg"></i></a>
      </div>
      <div class="col-md-4">
        <!-- <h6 class="h6-responsive my-0">contáctame:</h6>
        <a href="tel:+573158514199">
          <h6 class="h6-responsive">+57 315 8514199</h6>
        </a> -->
        <h6 class="h6-responsive mb-0 mt-3">Pregunta lo que necesites:</h6>
        <a href="mailto:elomjiga@hotmail.com">
          <h6 class="h6-responsive">elkin.jiga@hotmail.com</h6>
        </a>
      </div>
      <div class="col-md-4 mt-3 flex-column d-flex">
        <h6 class="h6-responsive">Un portafolio creado con pasión 💖</h6>
      </div>
    </div>
  </div>
  <div class="footer-copyright py-4">
    <div class="wow fadeInDown" data-wow-delay="0.8s">
      <h6 class="h6-responsive my-0">
        {{(today | date:'MMMM') | titlecase}} / {{today | date: 'yyyy'}}
      </h6>
      <h6 class="my-0 font-weight-bold">Elkin Jiménez</h6>
    </div>
  </div>
</footer>
