<div style="height: 100vh">
  <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view aqua-gradient">
          <!-- style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg'); background-repeat: no-repeat; background-size: cover;" -->
          <div class="mask blue-gradient-rgba d-flex justify-content-center align-items-center">
            <div class="text-center white-text mx-5 wow fadeIn">
              <h6 class="h6-responsive wow fadeInDown">
                HOLA. MI NOMBRE ES
              </h6>
              <h1 class="display-1 font-weight-bold wow fadeInDown" data-wow-delay="1s">
                Elkin Jiménez
              </h1>
              <h5 class="h5-responsive wow fadeInUp" data-wow-delay="1.6s">
                y éste es mi grandioso mundo
                <i class="fas fa-code"></i>
              </h5>
              <div>
                <i class="fas fa-laptop-code fa-3x wow fadeInUp" data-wow-delay="2s"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view purple-gradient">
          <div class="mask d-flex justify-content-center align-items-center">
            <div class="text-center white-text mx-5 wow fadeIn">
              <div>
                <i class="fas fa-laptop-code fa-3x wow fadeInDown" data-wow-delay="2.3s"></i>
              </div>
              <h2 class="font-weight-bold wow fadeInDown my-4" data-wow-delay="1s">
                Desarrollador de software...
              </h2>
              <h5 class="h5-responsive wow fadeInUp" data-wow-delay="1.6s">
                donde la calidad de productos es lo que me representa.
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <i class="fas fa-chevron-right"></i>
    </a>
  </div>
</div>
<div style="height: 100vh" class="text-center flex-center flex-column">
  <h1 class="font-weight-bold display-3 mt-5">¡Conoce más de mí!</h1>
  <div class="container white-text">
    <div class="row wow fadeInDown mb-5">
      <div class="col-6 col-md-3 mt-3">
        <a onclick="aboutme()" class="card hoverable blue-gradient" style="height: 100%;">
          <div class="card-body my-4">
            <i class="far fa-address-book fa-3x"></i>
            <h4 class="mt-2 font-weight-bold">Sobre mí</h4>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-3 mt-3">
        <a onclick="portafolio()" class="card hoverable purple-gradient" style="height: 100%;">
          <div class="card-body my-4">
            <i class="fas fa-laptop-code fa-3x"></i>
            <h4 class="mt-2 font-weight-bold">Portafolio</h4>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-3 mt-3">
        <a onclick="estudios()" class="card hoverable aqua-gradient" style="height: 100%;">
          <div class="card-body my-4">
            <i class="fas fa-graduation-cap fa-3x"></i>
            <h4 class="mt-2 font-weight-bold">Estudios</h4>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-3 mt-3">
        <a onclick="contactame()" class="card hoverable peach-gradient" style="height: 100%;">
          <div class="card-body my-4">
            <i class="far fa-envelope fa-3x"></i>
            <h4 class="mt-2 font-weight-bold">Contacto</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>